# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea

self_models

logging.log

common/config.ini
/db/upbit_buy_sell.db
/db/upbit_order_book_info.db.new
/db/upbit_order_book_info.db.old
/web/db/upbit_buy_sell.db
/web/db/upbit_order_book_info.db
/web/db/user.db

logs/

models/scalers/

tests/temp/

*.log