# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea

logging.log

common/config.ini
/db/upbit_buy_sell.db
/db/upbit_order_book_info.db.new
/db/upbit_order_book_info.db.old
/web/db/upbit_buy_sell.db
/web/db/upbit_order_book_info.db
/web/db/user.db
/web/db/upbit_info.db
/web/db/model.db

logs/

models/scalers/

codes/tests/temp/

*.log
*.pkl
*.png
*.pth