<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <base href="">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <!-- Material Kit CSS -->
        <link href="/static/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet"/>
        <link rel="stylesheet" href="/static/bootstrap_table_1.15.5/dist/bootstrap-table.min.css">
        <style>
        .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
            padding: 1px;
        }

        .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:last-child)>.btn {
            padding: 0.40625rem 1.25rem;
            font-size: 0.6875rem;
            line-height: 1.5;
            border-radius: 0.2rem;;
        }

        .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
            padding: 0.40625rem 1.25rem;
            font-size: 0.6875rem;
            line-height: 1.5;
            border-radius: 0.2rem;;
        }

        .btn-group .btn+.btn, .btn-group .btn, .btn-group .btn:active, .btn-group .btn-group, .btn-group-vertical .btn+.btn, .btn-group-vertical .btn, .btn-group-vertical .btn:active, .btn-group-vertical .btn-group {
            padding: 0.40625rem 1.25rem;
            font-size: 0.6875rem;
            line-height: 1.5;
            border-radius: 0.2rem;;
        }
        </style>
    {% endblock %}
</head>

<body>
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
        <div class="logo">
            <a href="/" class="simple-text logo-mini">
                Auto Trade
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item {% if menu == 'trade' %}active{% endif %}  ">
                    <a class="nav-link" href="/">
                        <i class="material-icons">dashboard</i>
                        <p>매수/매도</p>
                    </a>
                </li>

                <li class="nav-item {% if menu == 'model' %}active{% endif %}  ">
                    <a class="nav-link" href="/subpage/models">
                        <i class="material-icons">dashboard</i>
                        <p>딥러닝 모델</p>
                    </a>
                </li>

                <li class="nav-item {% if menu == 'data_collect' %}active{% endif %}  ">
                    <a class="nav-link" href="/subpage/data_collects">
                        <i class="material-icons">dashboard</i>
                        <p>데이터 수집</p>
                    </a>
                </li>
                <!-- your sidebar here -->
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="#pablo">Dashboard</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo" style="font-size: 1.2em">
                                <i class="material-icons">filter_center_focus</i>
                                {{total_gain}}
                                &nbsp;&nbsp;
                                <i class="material-icons">access_time</i>
                                <span id="now_time"></span>
                            </a>
                        </li>
                        <!-- your navbar here -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <div class="content">
            <div class="container-fluid">
                {% block body %}

                {% endblock %}
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    , made with <i class="material-icons">favorite</i> by
                    <a href="/" target="_blank">Auto Trade</a>
                </div>
                <!-- your footer here -->
            </div>
        </footer>
    </div>
    <div>
        <!--   Core JS Files   -->
        <script src="/static/assets/js/core/jquery.min.js" type="text/javascript"></script>
        <script src="/static/assets/js/core/popper.min.js" type="text/javascript"></script>
        <script src="/static/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
        <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!--  Google Maps Plugin    -->
{#        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>#}
        <!-- Chartist JS -->
        <script src="/static/assets/js/plugins/chartist.min.js" type="text/javascript"></script>
        <!--  Notifications Plugin    -->
        <script src="/static/assets/js/plugins/bootstrap-notify.js" type="text/javascript"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="/static/assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
        <script src="/static/bootstrap_table_1.15.5/dist/bootstrap-table.min.js" type="text/javascript"></script>
        <script src="/static/bootstrap_table_1.15.5/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.js" type="text/javascript"></script>
        <script type="text/javascript">
            Date.prototype.format = function(f) {
                if (!this.valueOf()) return " ";

                var weekName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
                var d = this;

                return f.replace(/(yyyy|yy|MM|dd|E|hh|mm|ss|a\/p)/gi, function($1) {
                    switch ($1) {
                        case "yyyy": return d.getFullYear();
                        case "yy": return (d.getFullYear() % 1000).zf(2);
                        case "MM": return (d.getMonth() + 1).zf(2);
                        case "dd": return d.getDate().zf(2);
                        case "E": return weekName[d.getDay()];
                        case "HH": return d.getHours().zf(2);
                        case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2);
                        case "mm": return d.getMinutes().zf(2);
                        case "ss": return d.getSeconds().zf(2);
                        case "a/p": return d.getHours() < 12 ? "오전" : "오후";
                        default: return $1;
                    }
                });
            };

            String.prototype.string = function(len){var s = '', i = 0; while (i++ < len) { s += this; } return s;};
            String.prototype.zf = function(len){return "0".string(len - this.length) + this;};
            Number.prototype.zf = function(len){return this.toString().zf(len);};

            $("#now_time").text(new Date().format("yyyy년 MM월 dd일 a/p hh시 mm분 ss초"));
        </script>
        {% block additional_javascript %}

        {% endblock %}
    </div>
</div>

</body>

</html>