{% extends "base.html" %}
{% block title %} Auto Trade {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">총 매수</p>
                    <h3 class="card-title"><span id="num">{{ num }}</span>
                        <small></small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="#">Get More Information...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">현재 추적</p>
                    <h3 class="card-title"><span id="num_trail_bought">{{ num_trail_bought }}</span></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> <a href="#">Get More Information...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">총 성공 매도</p>
                    <h3 class="card-title"><span id="num_total_success">{{ num_total_success }}</span></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Github
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <p class="card-category">성공 매도</p>
                    <h3 class="card-title"><span id="num_success">{{ num_success }}</span></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">이득 매도</p>
                    <h3 class="card-title"><span id="num_gain">{{ num_gain }}</span></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Github
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <p class="card-category">손실 매도</p>
                    <h3 class="card-title"><span id="num_loss">{{ num_loss }}</span></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table id="trade_table"
                   data-toggle="table" data-sortable="true" data-url="/trade_data" data-method="POST" data-search="true"
                   data-pagination="true" data-show-refresh="true" data-show-toggle="true" data-auto-refresh="true"
                   data-auto-refresh-interval="10">
                <thead>
                    <tr>
                        <th data-field="buy_datetime">매수 기준 날짜/시각</th>
                        <th data-field="coin_ticker_name">구매 코인</th>
                        <th data-field="gb_prob">GB 모델 확신도</th>
                        <th data-field="xgboost_prob">XGBOOST 모델 확신도</th>
                        <th data-field="buy_base_price">구매 기준 가격</th>
                        <th data-field="buy_price">구매 가격</th>
                        <th data-field="trail_price">현재 가격</th>
                        <th data-field="buy_krw">투자 금액</th>
                        <th data-field="sell_krw">현재 원화</th>
                        <th data-field="elapsed_time">경과 시간</th>
                        <th data-field="trail_rate">등락 비율</th>
                        <th data-field="coin_status">상태</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block additional_javascript %}
<script type="text/javascript">
    $('#trade_table').bootstrapTable({
        onRefresh: function (param) {
            $.ajax({
                type: 'POST',
                url: '/trade_data_summary',
                success: function(data) {
                    $("#num").text(data.num);
                    $("#num_trail_bought").text(data.num_trail_bought);
                    $("#num_total_success").text(data.num_total_success);
                    $("#num_success").text(data.num_success);
                    $("#num_gain").text(data.num_gain);
                    $("#num_loss").text(data.num_loss);
                    $("#total_gain").text(data.total_gain);
                    $("#now_time").text(new Date().format("yyyy년 MM월 dd일 a/p hh시 mm분 ss초"));
                }
            });
        }
    })
</script>
{% endblock %}
