{% extends "base.html" %}
{% block title %} Auto Trade {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">총 매수</p>
                    <h3 class="card-title"><span id="num">{{ num }}</span>
                        <small></small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="#">Get More Information...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">현재 추적</p>
                    <h3 class="card-title"><span id="num_trail_bought">{{ num_trail_bought }}</span></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> <a href="#">Get More Information...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">총 성공 매도</p>
                    <h3 class="card-title"><span id="num_total_success">{{ num_total_success }}</span></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Github
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <p class="card-category">성공 매도</p>
                    <h3 class="card-title"><span id="num_success">{{ num_success }}</span></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">이득 매도</p>
                    <h3 class="card-title"><span id="num_gain">{{ num_gain }}</span></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Github
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <p class="card-category">손실 매도</p>
                    <h3 class="card-title"><span id="num_loss">{{ num_loss }}</span></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div>
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var lineChartData = {
                labels: [],
                datasets: []
            }

            for (var i = 1; i <= 180; i++) {
                lineChartData.labels.push(i.toString())
            }

            var ctx = document.getElementById('chart').getContext('2d');
            window.myLine = Chart.Line(ctx, {
                data: lineChartData,
                options: {
                    responsive: true,
                    hoverMode: 'index',
                    stacked: false,
                    maintainAspectRatio: false,
                    animation: {
                        duration: 1, // general animation time
                    },
                    title: {
                        display: true,
                        text: 'Coin Price Change'
                    },
                    scales: {
                        yAxes: [{
                            type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                            display: true,
                            position: 'right',
                            id: 'y-axis-1',
                        }],
                    }
                }
            });
            window.myLine.update();

            function myPeriodicMethod() {
                $.ajax({
                    url: "/subpage/price_info_json?trade_id={{ trade_id }}&coin_name={{ coin_name }}&base_datetime={{ base_datetime }}",
                    method: 'post',
                    success: function (data) {
                        lineChartData.datasets.length = 0;
                        idx = 0;
                        jQuery.each(data, function (id, val) {
                            if (val['price'] !== undefined) {
                                lineChartData.datasets.push({
                                    label: id,
                                    borderColor: window.chartColorArray[idx],
                                    backgroundColor: window.chartColorArray[idx],
                                    fill: false,
                                    yAxisID: 'y-axis-1',
                                    borderWidth: 1,
                                    pointRadius: 1,
                                    data: function () {
                                        price_data = []
                                        for (var i = 0; i < val['price'].length; i++) {
                                            price_data.push(val['price'][i])
                                        }
                                        return price_data
                                    }()
                                })

                                lineChartData.labels.push({
                                    data: function () {
                                        label_data = []
                                        for (var i = 0; i < val['base_datetime'].length; i++) {
                                            label_data.push(val['base_datetime'][i])
                                        }
                                        return label_data
                                    }()
                                })
                            }
                            idx++;
                            idx = idx % window.chartColorArray.length;
                        });
                        window.myLine.update();
                    },
                    complete: function () {
                        general_info_update();
                        setTimeout(myPeriodicMethod, 3000);
                    }
                });
            }

            // schedule the first invocation:
            setTimeout(myPeriodicMethod, 3000);
        })
    </script>
{% endblock %}
